
{

"readFileLocation" : "/Users/sherry/Desktop/Jasleen Project/Cancerous cell smears/",
"saveGrayscaleImages" : "/Users/sherry/Desktop/Jasleen Project/GrayscaleImages/",
"saveSaltPepperImages" : "/Users/sherry/Desktop/Jasleen Project/SaltPepperImages/",
"colorSpectrumSaveLocation" : "/Users/sherry/Desktop/Jasleen Project/ColorSpectrum/",
"grayscaleHistogram" : "/Users/sherry/Desktop/Jasleen Project/Histograms/GrayscaleHistograms/",
"RGBHistogram" : "/Users/sherry/Desktop/Jasleen Project/Histograms/RGBHistograms/",
"medianFilterSaveLocation" : "/Users/sherry/Desktop/Jasleen Project/MedianFilter/",
"averageFilterSaveLocation" : "/Users/sherry/Desktop/Jasleen Project/AverageFilter/",
"equalizedHist" : "/Users/sherry/Desktop/Jasleen Project/Histograms/HistogramEqualization/"


}

