
{

"readFileLocation" : "/Users/sherry/Desktop/Jasleen Project/Cancerous cell smears/",
"saveGrayscaleImages" : "/Users/sherry/Desktop/Jasleen Project/GrayscaleImages/",
"saveSaltPepperImages" : "/Users/sherry/Desktop/Jasleen Project/SaltPepperImages/",
"colorSpectrumSaveLocation" : "/Users/sherry/Desktop/Jasleen Project/ColorSpectrum/",
"grayscaleHistogram" : "/Users/sherry/Desktop/Jasleen Project/Histograms/GrayscaleHistograms/",
"RGBHistogram" : "/Users/sherry/Desktop/Jasleen Project/Histograms/RGBHistograms/",
"medianFilterSaveLocation" : "/Users/sherry/Desktop/Jasleen Project/MedianFilter/",
"averageFilterSaveLocation" : "/Users/sherry/Desktop/Jasleen Project/AverageFilter/",
"equalizedHist" : "/Users/sherry/Desktop/Jasleen Project/Histograms/HistogramEqualization/",
"savePrewittImages" : "/Users/sherry/Desktop/Jasleen Project/Prewitt/",
"saveSobelImages" : "/Users/sherry/Desktop/Jasleen Project/Sobel/",
"saveCompass4Images" : "/Users/sherry/Desktop/Jasleen Project/CompassFour/",
"saveCompass8Images" : "/Users/sherry/Desktop/Jasleen Project/CompassEight/",
"saveDilationImages" : "/Users/sherry/Desktop/Jasleen Project/Dilation/",
"saveErosionImages" : "/Users/sherry/Desktop/Jasleen Project/Erosion/"


}

